<div class="container-fluid">
    <div class='row justify-content-center'>
        <form class="form-inline">
            <div class="form-group">
                <label for="inputPassword6"> Recherche par nom </label>
                <input type="text" id="inputPassword6" class="form-control mx-sm-3"
                    aria-describedby="passwordHelpInline" #saisieNom>
                <small id="passwordHelpInline" class="text-muted">
                    <button type="button" class="btn btn-primary" (click)="rechercher(saisieNom.value); ">Rechercher</button>
                </small>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col">
            <ul>
                <li *ngFor="let m of matricules"  >
                    <button (click)= "afficherinfos(m);" > {{m}} </button>
                </li>
            </ul>
        </div>
    </div>
</div>