<div class="container-fluid">
    <div class='row'>

        <div class='col-4'>
            <img src="{{col.photoUrl}}" class="img-fluid" alt="photo de grenouille">

        </div>
        <div class='col-8 row'>
            <div class='col-md-6'>

                Matricule {{col.matricule}}
                <br>
                Nom {{col.nom | uppercase }}
                <br>
                Prenoms {{col.prenom}}
                <br>
                Date de naissance {{ col.dateDeNaissance | date:'longDate' }}
                <br>
                Email <ng-container *ngIf="!modeEdit">{{col.email}}</ng-container>
                <!-- à afficher en conditionnel si mode edit est true-->

                <input *ngIf="modeEdit" type="text" id="email" name="email" required minlength="4" maxlength="80"
                    size="20">

                <br>
                <!-- à afficher en conditionnel si mode edit est true-->
                <ng-container *ngIf="modeEdit">photoUrl </ng-container>
                <input *ngIf="modeEdit" type="text" id="photoUrl" name="photoUrl" required minlength="4" maxlength="120"
                    size="20">



            </div>
            <div class='col-md-6'>

            </div>

        </div>
    </div>

    <div class='row '>
        <div class="col offset-4">
            <a *ngIf="!modeEdit" href="#" (click)="creationcollegue()"> Créer un nouveau collègue</a>
        </div>
        <div class="col">
            <button *ngIf="!modeEdit" class="btn btn-primary" (click)="modifier()" type="submit">Modifier</button>
            <button *ngIf="modeEdit" class="btn btn-primary" (click)="valider()" type="submit">Valider</button>
        </div>
    </div>
</div>