<div class='row'>

    <div class='col-4'>
        <img src= "{{col.photoUrl}}"
       
            class="img-fluid" alt="photo de grenouille">

    </div>
    <div class='col-8 row'>
        <div class='col-md-6'>
            <p>
                Matricule {{col.matricule}}
                <br>
                Nom         {{col.nom}}
                <br>
                Prenoms     {{col.prenom}}
                <br>
                Date de naissance           {{col.dateDeNaissance}}
                <br>
                Email       {{col.email}}
                <br>


            </p>
        </div>
        <div class='col-md-6'>

        </div>

    </div>
</div>

<div class='row '>
    <div class="col offset-4">
        <a href="#" (click)="creationcollegue()">  Créer un nouveau collègue</a>
    </div>
    <div class="col">
        <button class="btn btn-primary" (click)="modificationcollegue()" type="submit">Modifier</button>
    </div>
</div>